* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Playfair Display SC', serif; */
    font-family: 'Poppins', sans-serif;
}

/* desktop header section */
#header, nav.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
#header ul li{
    font-size: 15px;
}
#header ul li a{
    color: #fff;
}
#header h5{
    margin: 0;
    line-height: 1;
    padding: 0.5rem 0rem;
}

/* mobile header section */
.navbar-dark .navbar-toggler {
    border-color: transparent;
}

.navbar-toggler:focus {
    box-shadow: none !important;
    border: 0;
}

/* login section  */
#login-register{
    height: 100vh; 
    display: flex;
    align-items: center;
    font-size: 12px;
}

/* sidebar section */
.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    margin-left: -300px;
}

.sidebar h5{
    padding-top: 20px;
    padding-left: 26px;
}

/* hero section */
#hero{
    background-image: url("../images/hero.jpg"); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 51px;
}

#hero .btn-check:focus+.btn, .btn:focus{
    box-shadow: none;
}

/* all page style */
#contact, #about, #user, #search-property, #Property-lists, #property-description{
    margin-top: 51px;
}

#search-property, #about, #contact{
    height: 100vh;
}   

#property-lists, #property-description, #middle-description, #detailed-description table{
    font-size: 12px;
} 

#about, #contact, p, a{
    font-size: 12px;
}

.property{    
    font-size: 12px;
}

.form-control{
    font-size: 12px;
}
.form-select{
    font-size: 12px;
}

/* for navbar */
.active-nav {
    margin-left: 0;
}

/* for main section */
.active-cont {
    margin-left: 250px;
}

/* footer section */
footer {
    position: relative;
    z-index: 999;
}

/* property styles */
.width{
    width: 50%;
}
.width1{
    width: 60%;
}
.width2{
    width: 75%;
}

/* responsive pages */
@media (min-width: 320px) {
    #header{
        display: none;
    }
    nav.navbar{
        display: block;
    }
}

@media (min-width: 1024px) {
    #header{
        display: block;
    }
    nav.navbar{
        display: none;
    }
    
}
 